---
// src/components/Header.astro
---
<header>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="/" class="logo">
                        <img src="/favicon.svg" alt="Logo" />
                        <strong>SonusHUB Updater</strong>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <details role="list" dir="rtl">
                        <summary aria-haspopup="listbox" role="button" class="theme-switcher">
                            <svg class="sun" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
                            <svg class="moon" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
                        </summary>
                        <ul role="listbox">
                            <li><a href="#" data-theme-switcher="light">Light</a></li>
                            <li><a href="#" data-theme-switcher="dark">Dark</a></li>
                            <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </nav>
    </div>
</header>

<style>
    header {
        padding: 0.75rem 0;
        border-bottom: 1px solid var(--card-border-color);
        background-color: var(--card-background-color);
        position: sticky;
        top: 0;
        z-index: 10;
    }
    .logo {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        text-decoration: none;
        color: var(--h1-color);
    }
    .logo img {
        width: 28px;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
    }
    nav ul li {
        margin: 0;
    }
    nav details[role="list"] {
        margin-bottom: 0;
    }
    .theme-switcher {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        border-radius: 50%;
    }
    .theme-switcher svg {
        position: absolute;
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    }
    html[data-theme="light"] .theme-switcher .moon {
        transform: scale(0);
        opacity: 0;
    }
    html[data-theme="light"] .theme-switcher .sun {
        transform: scale(1);
        opacity: 1;
    }
    html[data-theme="dark"] .theme-switcher .sun {
        transform: scale(0);
        opacity: 0;
    }
    html[data-theme="dark"] .theme-switcher .moon {
        transform: scale(1);
        opacity: 1;
    }
</style>